<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @server.server %>
</p>

<p>
  <strong>Port:</strong>
  <%= @server.port %>
</p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @server.description %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
